@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

h1 {
    font-family: 'Londrina Shadow', cursive; 
    text-align: center; 
    color: #272727; 
    font-weight: bolder;
    text-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
}


body {
    background-color: gray;
}

h1 {
    font-size: 100px;
}

.polaroid-container{
    margin: 0;
    padding: 0;
}
.polaroid-row {
    display: flex;
    justify-content: center; 
    
    flex-wrap: wrap; 
    margin: 0 auto; 
}

.polaroid {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: 100%; 
    text-align: center;
    border: 7px solid #ffffff; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8); 
    background-color: #fff; 
}

.polaroid:hover {
    transform: rotate(-5deg); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.album-cover {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    padding-top: 100%; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.song-name {
    flex-grow: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    font-size: 1rem; 
}

.track-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}


#track-popup {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    align-items: center; 
    justify-content: center; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #fefefe;
    padding: 20px;
    border: 1px solid #888;
    width: 80%; 
    max-width: 600px; 
    border-radius: 10px; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8); 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.track-info {
    text-align: center;
}

.album-cover-modal {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 300px; 
    height: 300px; 
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0 4px 14px rgba(0, 0, 0, 0.8); 
    margin: 0 auto; 
}


.song-name-modal, .artist-name-modal, .album-name-modal {
    font-size: 18px;
    margin: 10px 0;
}


.rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.rating label {
    cursor: pointer;
    font-size: 24px;
}

.rating span {
    color: #000000; 
} 

.rating input:checked ~ span,
.rating input:hover ~ span {
    color: gold; 
} 


#change-rating-popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
  
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.change-rating-modal-content {
    position: relative; 
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

.close-rating {
    position: absolute;
    top: 10px;
    left: 10px; 
    background: none;
    border: none;
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.close-rating:hover {
    color: black; 
}

