@import url('https://fonts.googleapis.com/css2?family=Londrina+Shadow&display=swap');

.month-header {
    font-family: 'Londrina Shadow', cursive; 
    text-align: center; 
    font-style: italic;
    font-size: 80px;
    color: rgb(226, 224, 224); /* Text color */
    font-weight: bolder;
    text-shadow: 5px 7px 8px rgba(0, 0, 0, 0.8);
    background-color: rgb(47, 47, 47); 
    padding: 20px 200px; 
    border-radius: 30px;
    display: inline-block; 
    margin-top: 5px;
    margin-bottom: 10px;
    box-shadow: 10px 10px 9px rgba(69, 69, 69, 0.8); 
}




body {
    background-color: gray;
}

h1 {
    font-size: 100px;
}

.polaroid-container{
    margin: 0;
    padding: 0;
}
.polaroid-row {
    display: flex;
    justify-content: center; 
    
    flex-wrap: wrap; 
    margin: 0 auto; 
}

.polaroid {
    display: flex;
    flex-direction: column; 
    align-items: center; 
    justify-content: space-between; 
    height: 100%; 
    text-align: center;
    border: 7px solid #ffffff; 
    box-shadow: 10px 10px 8px rgba(0, 0, 0, 0.8); 
    background-color: #fff; 
}

.polaroid:hover {
    transform: rotate(-5deg); 
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3); 
}

.album-cover {
    background-size: cover;
    background-position: center; 
    background-repeat: no-repeat; 
    width: 100%; 
    padding-top: 100%; 
    border-radius: 10px; 
    overflow: hidden; 
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
}


.song-name {
    flex-grow: 1; 
    display: flex; 
    align-items: center; 
    justify-content: center; 
    padding: 10px; 
    font-size: 1rem; 
}

.track-list-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center; 
}


#track-popup {
    display: none; 
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    align-items: center; 
    justify-content: center; 
    overflow: auto; 
    background-color: rgba(0, 0, 0, 0.4);
}


.modal-content {
    background-color: #f4f4f4;
    padding: 20px;
    border: 10px solid #252525;
    width: 80%; 
    max-width: 600px; 
    border-radius: 10px; 
    box-shadow: 10px 14px 6px rgba(0, 0, 0, 0.8); 
}


.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover{
    color: black;
    text-decoration: none;
    cursor: pointer;
}

.track-info {
    text-align: center;
}

.album-cover-modal {
    background-size: cover; 
    background-position: center; 
    background-repeat: no-repeat; 
    width: 300px; 
    height: 300px; 
    border-radius: 10px;
    overflow: hidden; 
    box-shadow: 0px 10px 14px rgba(0, 0, 0, 0.8); 
    margin: 0 auto; 
}

.track-number-modal {
    align-items: center;
    text-align: center;
    justify-content: center;
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
    margin: 0;
}

.song-name-modal {
    font-size: 40px;
    margin: 0px 10px;
    
}

.artist-name-modal {
    font-size: 20px;
    margin: 0px 10px;
}

.album-name-modal {
    font-size: 15px;
    margin: 0px 10px;
}

.track-rating-modal {
    font-size: 35px;
    font-style: italic;
    font-weight: bold;
}

.rating {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.rating label {
    cursor: pointer;
    font-size: 24px;
}

.rating span {
    color: #000000; 
} 

.rating input:checked ~ span,
.rating input:hover ~ span {
    color: gold; 
} 

#change-rating-popup {
    display: none;
    position: fixed;
    z-index: 2;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.4);
}

.change-rating-modal-content {
    position: relative; 
    background-color: #fefefe;
    padding: 20px;
    border-radius: 10px;
    width: 300px;
    text-align: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.8);
}

.change-rating-header{
    font-size: 20px;
    color: black;
}

.rating {
    display: block;
    justify-content: center;
    margin-top: 10px;
}

.rating label {
    display: block; 
    margin: 10px 0; 
    text-align: left; 
}

.rating input {
    margin-right: 5px; 
}

#submit-rating-btn {
    margin-top: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px; 
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s; 
}

#submit-rating-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black; 
}

.close-rating {
    position: absolute;
    top: 10px;
    left: 10px; 
    background: none;
    border: none;
    color: #aaa;
    font-size: 20px;
    cursor: pointer;
    font-weight: bold;
}

.close-rating:hover {
    color: black; 
}



#track-popup .track-rating-modal {
    text-align: left; 
    margin-left: 20px;
}

#track-popup #change-rating-btn {
    margin-left: auto;
    text-align: right;
    margin-right: 20px;
    background-color: black;
    color: white;
    border: none;
    border-radius: 15px; 
    padding: 10px 20px; 
    font-size: 14px; 
    cursor: pointer; 
    transition: background-color 0.3s, color 0.3s; 
}

#track-popup #change-rating-btn:hover {
    background-color: white;
    color: black;
    border: 1px solid black; 
}



@media (max-width: 1000px) {
    .month-header {
        padding: 20px 120px; 
        font-size: 50px; 
    }
    .album-cover-modal { 
        width: 200px; 
        height: 200px;   
    }

    .track-number-modal {
        font-size: 30px;  
    }
    
    .song-name-modal {
        font-size: 30px;
        
    }

    .track-rating-modal {
        font-size: 25px;
      
    }

    #track-popup #change-rating-btn {
        font-size: 12px; 
        border-radius: 15px; 
        padding: 2px 15px; 
        
    }
}


@media (max-width: 600px) {
    .month-header {
        padding: 20px 40px; 
        font-size: 30px; 
    }
    .album-cover-modal { 
        width: 200px; 
        height: 200px;   
        margin-bottom: 20px;
    }
  
}
